extends /main/layouts/generic

include /main/mixins/projectpreview
include /main/mixins/comment

block title
    title= `peppermint - ${user.displayName}`

block postHead
    link(rel="stylesheet" type="text/css" href="/css/user/style.css")
    link(rel="stylesheet" type="text/css" href="/css/project/preview.css")
    link(rel="stylesheet" type="text/css" href="/css/project/comment.css")

block preContent
    - if (req.user.id == user.id)
        h2.col-light.mb-3.text-center.user-select-none control stuff
        .control-stuff.mb-4
            div
                h4.user-select-none project stuff
                a.btn.btn-primary(href="/new") #[i.fa-solid.fa-file] new project
                a.btn.btn-primary.ms-3(href="/manage") #[i.fa-solid.fa-pen-to-square] manage projects
            .mt-4
                h4.user-select-none user stuff
                a.btn.btn-danger(href="/logout") #[i.fa-solid.fa-right-from-bracket] logout
            

        h2.col-light.mb-3.text-center.user-select-none public profile

block content
    .d-flex.flex-column.flex-md-row
        .short-info
            if (user.iconURL)
                .profile-image.mb-2(style=`background-image: url(${req.cssurl(user.iconURL)}), url(/img/user-unavailable.svg);`)
            h2.mb-0= user.displayName
            small.mb-0
                span.user-select-none @
                span= user.handle
        .everything-else.flex-fill
            .ms-0.mt-3.mt-md-0.ms-md-4
                - if (projects && projects.length)
                    .mb-4
                        h4.user-select-none projects
                        .row
                            - for (let i = 0; i < projects.length; i++)
                                +projectpreview(projects[i], "col-12 col-md-6 col-lg-4 col-xl-3")
                - if (comments && comments.length)
                    .mb-0
                        h4.user-select-none recent comments
                        .comments
                            - for (let i = 0; i < comments.length; i++)
                                small.clmp(style="opacity: 0.6;")
                                    span on 
                                    a(href=`/project/${comments[i].project.id}`)= comments[i].project.title
                                +comment(comments[i], (i != comments.length - 1 ? "mb-3" : ""))