extends /main/layouts/generic

block title
    title peppermint - #{(project.title || project.id).substr(0, 16)}#{(project.title || project.id).length > 16 ? "..." : ""} - manage

block postHead
    link(rel="stylesheet" href="/css/project/style.css" type="text/css")
    link(rel="stylesheet" href="/css/project/comment.css" type="text/css")
    link(rel="stylesheet" href="/css/manage/style.css" type="text/css")
    
    script.
        var canCreate = !{canCreate};

    script(src="/js/manage/script.js")

    script.
        $(document).ready(() => {      
            $("textarea").trigger("oninput");
        });


block content
    - req.query ??= {}
    - let query = req.query
    .d-none.project-id= project.id
    a.btn.btn-primary.mb-2(href=`/project/${project.id}`) #[i.fa-solid.fa-arrow-left(style="margin-right: 5px;")] project page
    h1.clmp(class=(query.message || query.error ? "mb-2" : "mb-4")) manage&nbsp;-&nbsp;#{project.title || project.id}
    - if (query.message)
        .alert.alert-success.mb-3.d-flex.align-items-center
            .me-3
                i.fa-solid.fa-check
            div= query.message || "what"
    - if (query.error)
        .alert.alert-danger.mb-3.d-flex.align-items-center
            .me-3
                i.fa-solid.fa-xmark
            div= query.error || "what"
    form(action=`/manage/${project.id}` method="POST")
        h3 basic info
        .mb-3
            label.form-label(for="title") title
            input.form-control#title(type="text" placeholder=project.id name="title" value=(canEditTitle && query.title ? query.title : project.title) disabled=!canEditTitle)
        .mb-3
            label.form-label(for="image") image url
            input.form-control#image(type="text" name="image" value=(canEditDescriptionAndImage && query.image ? query.image : project.iconURL) disabled=!canEditDescriptionAndImage)
        .mb-3
            label.form-label(for="description") description
            textarea.form-control#description(name="description" rows=1 oninput="this.style.height = \"\"; this.style.height = this.scrollHeight + \"px\";" disabled=!canEditDescriptionAndImage)= project.description

        button.btn.btn-success.mb-4(type="submit") #[i.fa-solid.fa-check(style="margin-right: 5px;")] submit changes
    
    h3 releases
    .mb-3.releases
        .w-100.text-center
            i.fa-solid.fa-spinner.fa-spin

    - if (canEditSettings)
        h3 contributors
        .mb-3.contributors
            .w-100.text-center
                i.fa-solid.fa-spinner.fa-spin

        h3 comments
        .comment-delete-message.mb-2
        .mb-3.comments
            .w-100.text-center
                i.fa-solid.fa-spinner.fa-spin
    
        .delete-project.btn.btn-danger.d-flex.justify-content-center.align-items-center
            i.fa-solid.fa-dumpster-fire.me-2
            span delete project